 <!-- Giving Section -->
    <section id="giving">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2><a href="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=Fi1giPL8kwX_Oe1AO50jRp1Rqr3ivukLX4Z9hiGGXEQS2zfZgdvtsgHvl4ll5gbek0PpduXvnt8gXUeZjQYbn35NHMuDSClX7AF4ZDnC_VA=">Click here to give online.</a></h2>
              <br/>
		    <br/>
		    <br/>
		    <br/>
		    <br/>
		    <br/>
		    <br/>
		    <br/>
		    <br/>
		    <br/>
		    <br/>
		    <br/>
		    <br/>
	</div>
    </section>
